{% extends "gather/layout.html" %}
{% load static %}

{% block title %}New Event{% endblock %}

{% block style %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'gather/style.css' %}">
  <link rel="stylesheet" href="{% static 'gather/responsive.css' %}">
{% endblock %}

{% block body %}
<div class="contact-box-main">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-sm-12">
        <div class="contact-form-right">
          <h2>Add new event</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed odio justo, ultrices ac nisl sed, lobortis
            porta elit. Fusce in metus ac ex venenatis ultricies at cursus mauris.</p>

          <form
            id="contactForm"
            action="{% url 'regevent' %}"
            method="post"
            onsubmit="return checkGaddress()"
            enctype="multipart/form-data"
          >
            {% csrf_token %}

            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <input
                    type="text"
                    class="form-control"
                    id="event_name"
                    name="event_name"
                    placeholder="Event Name"
                    required
                    data-error="Please enter your name"
                  >
                  <div class="help-block with-errors"></div>
                </div>
              </div>

              <div class="col-md-12">
                <div class="form-group">
                  <input
                    type="text"
                    id="address"
                    name="address"
                    placeholder="Enter a location"
                    class="form-control"
                  >
                  <input
                    type="text"
                    id="gaddress"
                    name="gaddress"
                    placeholder="Enter a location"
                    hidden
                    required
                  >
                  <br>
                  <div class="help-block with-errors"></div>
                </div>
              </div>

              <div class="col-md-12">
                <div class="form-group">
                  <div class="row">
                    <div class="col-12 col-md-4">
                      <input
                        class="form-control"
                        type="date"
                        id="event_date"
                        name="event_date"
                        required
                        data-error="Please enter Date"
                      >
                    </div>
                    <div class="col-12 col-md-4">
                      <input
                        class="form-control"
                        type="time"
                        id="event_time"
                        name="event_time"
                        required
                        data-error="Please enter time"
                      >
                    </div>
                    <div class="col-12 col-md-4">
                      <select class="form-control" id="category" name="category">
                        <option value="education">Education</option>
                        <option value="business">Business</option>
                        <option value="technology">Technology</option>
                        <option value="music">Music</option>
                        <option value="sports">Sports</option>
                      </select>
                    </div>
                  </div>

                  <div class="help-block with-errors"></div>
                </div>
              </div>

              <div class="col-md-12">
                <div class="form-group">
                  <input
                    type="file"
                    id="images"
                    name="images"
                    accept="image/*"
                    class="form-control"
                    required
                    multiple
                  >
                  <div class="help-block with-errors"></div>
                </div>
              </div>

              <div class="col-md-12">
                <div class="form-group">
                  <textarea
                    class="form-control"
                    id="description"
                    name="description"
                    placeholder="Enter Description"
                    rows="4"
                    cols="50"
                  ></textarea>
                  <div class="help-block with-errors"></div>
                </div>
              </div>
            </div>

            <div class="submit-button text-center">
              <button class="btn hvr-hover" id="submit" type="submit">Add event</button>
              <div id="msgSubmit" class="h3 text-center hidden"></div>
              <div class="clearfix"></div>
            </div>
          </form>
        </div>
      </div>

      <div class="col-lg-4 col-sm-12" id="map"></div>
    </div>
  </div>
</div>
{% endblock body %}

{% block scripts %}
  {{ block.super }}
  <script
    src="https://maps.googleapis.com/maps/api/js?key={{API_KEY}}&libraries=places&callback=initAutocomplete"
    async
    defer
  ></script>
{% endblock %}

